*{
	margin: 0;
	padding: 0;
}

.main{
	background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(images/pic1.jpg);
	width: 100%;
	height: 100%;
	background-position: center;
	background-size: cover;
	position: absolute;
}
.about{
	padding: 50px 180px;
	font-size: 23px;

}